@import "tailwindcss";

.btn {
  @apply m-2 bg-green-600 text-white py-4 px-12 font-bold text-lg rounded-sm shadow-sm ;
}
html {
  @apply w-full h-full min-w-0;
}

#root {
  @apply w-full min-h-screen bg-gray-100;
}

.btn.principal {
  @apply bg-blue-500 text-slate-200;
}

